![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)


### An√°lisis exploratorio de datos sobre dataset de Glassdoor

#### **Notebook de Noe**  üëª
![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)
### Archivo: country_names_2_digit_codes.csv

Este archivo contiene codigos de paises



![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

In [88]:
# Codigo de paises
df1 = pd.read_csv('../data/glassdoor/country_names_2_digit_codes.csv')
df1.head()

             Name Code
0     Afghanistan   AF
1  √É‚Ä¶land Islands   AX
2         Albania   AL
3         Algeria   DZ
4  American Samoa   AS

In [3]:
df1.shape

(249, 2)

In [4]:
df1.isna().sum()

Name    0
Code    1
dtype: int64

In [5]:
# Namibia no tiene codigo
df1.loc[df1['Code'].isna()]

        Name Code
153  Namibia  NaN

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)
### Archivo: currency_exchange.csv

Archivo que contiene datos del ratio de cambio de la moneda local a (creo) dolares

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

In [6]:
# No tengo ni idea de que es esto
df2 = pd.read_csv('../data/glassdoor/currency_exchange.csv')
df2.head()

,Code,Country,Currency,Number,ExchangeRate
0,AED,United Arab Emirates (The),UAE Dirham,784.0,3.672779
1,AFN,Afghanistan,Afghani,971.0,78.250197
2,ALL,Albania,Lek,8.0,111.702860
3,AMD,Armenia,Armenian Dram,51.0,477.169811
4,ANG,Cura√ßao,Netherlands Antillean Guilder,532.0,1.734311

In [7]:
df2.shape

(268, 5)

In [8]:
df2.isna().sum()

Code             3
Country          0
Currency         0
Number           3
ExchangeRate    15
dtype: int64

In [9]:
# Que datos faltan??
df2.loc[df2['Code'].isna()]

,Code,Country,Currency,Number,ExchangeRate
265,NaN,Antarctica,No universal currency,NaN,NaN
266,NaN,"Palestine, State Of",No universal currency,NaN,NaN
267,NaN,South Georgia And The South Sandwich Islands,No universal currency,NaN,NaN

In [10]:
df2.loc[df2['Number'].isna()]

,Code,Country,Currency,Number,ExchangeRate
265,NaN,Antarctica,No universal currency,NaN,NaN
266,NaN,"Palestine, State Of",No universal currency,NaN,NaN
267,NaN,South Georgia And The South Sandwich Islands,No universal currency,NaN,NaN

In [11]:
df2.loc[df2['ExchangeRate'].isna()]

,Code,Country,Currency,Number,ExchangeRate
27,BOV,Bolivia (Plurinational State Of),Mvdol,984.0,NaN
36,CHE,Switzerland,WIR Euro,947.0,NaN
39,CHW,Switzerland,WIR Franc,948.0,NaN
44,COU,Colombia,Unidad de Valor Real,970.0,NaN
145,MRU,Mauritania,Ouguiya,929.0,NaN
150,MXV,Mexico,Mexican Unidad de Inversion (UDI),979.0,NaN
188,SSP,South Sudan,South Sudanese Pound,728.0,NaN
189,STN,Sao Tome And Principe,Dobra,930.0,NaN
223,USN,United States Of America (The),US Dollar (Next day),997.0,NaN
224,UYI,Uruguay,Uruguay Peso en Unidades Indexadas (URUIURUI),940.0,NaN
257,XSU,Sistema Unitario De Compensacion Regional De P...,Sucre,994.0,NaN
258,XUA,Member Countries Of The African Development Ba...,ADB Unit of Account,965.0,NaN
265,NaN,Antarctica,No universal currency,NaN,NaN
266,NaN,"Palestine, State Of",No universal currency,NaN,NaN
267,NaN,South Georgia And The South Sandwich Islands,No universal currency,NaN,NaN

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)
### Archivo: glassdoor_benefits_highlights.csv

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

In [13]:
df5 = pd.read_csv('../data/glassdoor/glassdoor_benefits_highlights.csv')
df5.head()

,id,benefits.highlights.val.highlightPhrase,benefits.highlights.val.icon,benefits.highlights.val.name,index,benefits.highlights.val.commentCount
0,44001,good flexibility for working from home,wfh,Work From Home,0.0,17.0
1,44001,I‚Äôve not really had any time off for the last ...,sickDays,Sick Pay,1.0,14.0
2,44001,Very flexible if you don't work overtime and y...,flexWorkSched,Flexible Working,2.0,7.0
3,44002,NaN,NaN,NaN,NaN,NaN
4,44003,NaN,NaN,NaN,NaN,NaN

In [14]:
df5.shape

(212155, 6)

In [15]:
df5.isna().sum()

id                                              0
benefits.highlights.val.highlightPhrase    132255
benefits.highlights.val.icon               132255
benefits.highlights.val.name               132255
index                                      132255
benefits.highlights.val.commentCount       132255
dtype: int64

In [16]:
df5.dropna(inplace=True)
df5.head()

,id,benefits.highlights.val.highlightPhrase,benefits.highlights.val.icon,benefits.highlights.val.name,index,benefits.highlights.val.commentCount
0,44001,good flexibility for working from home,wfh,Work From Home,0.0,17.0
1,44001,I‚Äôve not really had any time off for the last ...,sickDays,Sick Pay,1.0,14.0
2,44001,Very flexible if you don't work overtime and y...,flexWorkSched,Flexible Working,2.0,7.0
9,44008,Nothing special to write about here,sickDays,Sick Pay,0.0,3.0
13,44012,They offer sick pay when you are off sick,sickDays,Sick Pay,0.0,31.0

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)
### Archivo: glassdoor.csv

Este archivo contiene 165290 filas y 163 columnas.

> Tiene muchisima missing data. Hay que analizar y limpiar.

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

In [17]:
# Aca estan los datos jugosos
df3 = pd.read_csv('../data/glassdoor/glassdoor.csv')
df3.head()

,benefits.benefitRatingDecimal,benefits.comments,benefits.highlights,benefits.numRatings,benefits.employerSummary,breadCrumbs,gaTrackerData.category,gaTrackerData.empId,gaTrackerData.empName,gaTrackerData.empSize,gaTrackerData.expired,gaTrackerData.industry,gaTrackerData.industryId,gaTrackerData.jobId.long,gaTrackerData.jobId.int,gaTrackerData.jobTitle,gaTrackerData.location,gaTrackerData.locationId,gaTrackerData.locationType,gaTrackerData.pageRequestGuid.guid,gaTrackerData.pageRequestGuid.guidValid,gaTrackerData.pageRequestGuid.part1,gaTrackerData.pageRequestGuid.part2,gaTrackerData.sector,gaTrackerData.sectorId,gaTrackerData.profileConversionTrackingParams.trackingCAT,gaTrackerData.profileConversionTrackingParams.trackingSRC,gaTrackerData.profileConversionTrackingParams.trackingXSP,gaTrackerData.jobViewTrackingResult.jobViewDisplayTimeMillis,gaTrackerData.jobViewTrackingResult.requiresTracking,gaTrackerData.jobViewTrackingResult.trackingUrl,header.adOrderId,header.advertiserType,header.applicationId,header.applyButtonDisabled,header.applyUrl,header.blur,header.coverPhoto,header.easyApply,header.employerId,header.employerName,header.expired,header.gocId,header.hideCEOInfo,header.jobTitle,header.locId,header.location,header.locationType,header.logo,header.logo2x,header.organic,header.overviewUrl,header.posted,header.rating,header.saved,header.savedJobId,header.sgocId,header.sponsored,header.userAdmin,header.uxApplyType,header.featuredVideo,header.normalizedJobTitle,header.urgencyLabel,header.urgencyLabelForMessage,header.urgencyMessage,header.needsCommission,header.payHigh,header.payLow,header.payMed,header.payPeriod,header.salaryHigh,header.salaryLow,header.salarySource,job.description,job.discoverDate,job.eolHashCode,job.importConfigId,job.jobReqId.long,job.jobReqId.int,job.jobSource,job.jobTitleId,job.listingId.long,job.listingId.int,map.country,map.employerName,map.lat,map.lng,map.location,map.address,map.postalCode,overview.allBenefitsLink,overview.allPhotosLink,overview.allReviewsLink,overview.allSalariesLink,overview.foundedYear,overview.hq,overview.industry,overview.industryId,overview.revenue,overview.sector,overview.sectorId,overview.size,overview.stock,overview.type,overview.description,overview.mission,overview.website,overview.allVideosLink,overview.competitors,overview.companyVideo,photos,rating.ceo.name,rating.ceo.photo,rating.ceo.photo2x,rating.ceo.ratingsCount,rating.ceoApproval,rating.recommendToFriend,rating.starRating,reviews,salary.country.cc3LetterISO,salary.country.ccISO,salary.country.continent.continentCode,salary.country.continent.continentName,salary.country.continent.id,salary.country.continent.new,salary.country.countryFIPS,salary.country.currency.currencyCode,salary.country.currency.defaultFractionDigits,salary.country.currency.displayName,salary.country.currency.id,salary.country.currency.name,salary.country.currency.negativeTemplate,salary.country.currency.new,salary.country.currency.positiveTemplate,salary.country.currency.symbol,salary.country.currencyCode,salary.country.defaultLocale,salary.country.defaultName,salary.country.defaultShortName,salary.country.employerSolutionsCountry,salary.country.id,salary.country.longName,salary.country.major,salary.country.name,salary.country.new,salary.country.population,salary.country.shortName,salary.country.tld,salary.country.type,salary.country.uniqueName,salary.country.usaCentricDisplayName,salary.currency.currencyCode,salary.currency.defaultFractionDigits,salary.currency.displayName,salary.currency.id,salary.currency.name,salary.currency.negativeTemplate,salary.currency.new,salary.currency.positiveTemplate,salary.currency.symbol,salary.lastSalaryDate,salary.salaries,wwfu
0,0.0,2801.0,2801.0,0,NaN,2801,-1,2183810,Modus Group,501-1000,False,Investment Banking & Asset Management,200053,3.227100e+09,NaN,Biogas Project Development Manager,Warsaw,3094484,CITY,0000016e56d0b5f2b16c3aea720c55ae,True,1573414548978,-5662085852901386834,Finance,10010,NaN,NaN,NaN,NaN,NaN,NaN,14295,GENERAL,0,False,/partner/jobListing.htm?pos=101&ao=14295&tgt=A...,True,/static/img/banners/default-ei-banner.jpg,True,2183810,Modus Group,False,-1,False,Biogas Project Development Manager,3094484,Warsaw,C,https://media.glassdoor.com/sqls/2183810/modus...,https://media.glassdoor.com/sqlm/2183810/modus...,True,/Overview/Working-at-Modus-Group-EI_IE2183810....,"Oct 24, 2019",-0.1,False,0,0,False,False,API,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,We are the drivers of the future who offer a g...,2019-10-24T04:52:23,-2041513,75613,4.101124e+09,NaN,WorkableHR.com,-1,3.227100e+09,NaN,Poland,Modus Group,52.2500,21.0000,Warsaw,NaN,NaN,/Benefits/Modus-Group-UK-Benefits-EI_IE2183810...,/Photos/Modus-Group-Office-Photos-E2183810.htm,/Reviews/Modus-Group-Reviews-E2183810.htm,/Salary/Modus-Group-Salaries-E2183810.htm,1993,"Vilnius, Lithuania",Investment Banking & Asset Management,200053,Unknown / Non-Applicable,Finance,10010,501 to 1000 employees,NaN,Company - Private,We are the drivers of the future who offer a g...,NaN,www.modus.group,NaN,NaN,NaN,1687.0,Liudas Liutkeviƒçius,NaN,NaN,0.0,-0.1,-0.10,-0.1,2801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2483.0,NaN
1,4.0,2802.0,2802.0,3,NaN,2802,-1,10416,Boehringer Ingelheim,10000--1,False,Biotech & Pharmaceuticals,200021,3.406582e+09,NaN,Quality Manager - Boehringer Ingelheim Healthc...,NaN,3183562,CITY,0000016e56d0b5cfa19a4b2ba225a2ee,True,1573414548943,-6802041636413660434,Biotech & Pharmaceuticals,10005,NaN,NaN,NaN,NaN,NaN,NaN,43297,GENERAL,0,False,/partner/jobListing.htm?pos=101&ao=43297&s=58&...,True,/static/img/banners/default-ei-banner.jpg,False,10416,Boehringer Ingelheim,False,-1,False,Quality Manager - Boehringer Ingelheim Healthc...,3183562,Porto,C,https://media.glassdoor.com/sqls/10416/boehrin...,https://media.glassdoor.com/sqlm/10416/boehrin...,True,/Overview/Working-at-Boehringer-Ingelheim-EI_I...,"Nov 4, 2019",3.8,False,0,0,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<strong></strong>\n<br/><br/>\n<strong></stron...,2019-11-04T03:59:14,320139505,91874,4.202175e+09,NaN,taleo,-1,3.406582e+09,NaN,NaN,Boehringer Ingelheim,41.1500,-8.6167,Porto,NaN,NaN,/Benefits/Boehringer-Ingelheim-UK-Benefits-EI_...,/Photos/Boehringer-Ingelheim-Office-Photos-E10...,/Reviews/Boehringer-Ingelheim-Reviews-E10416.htm,/Salary/Boehringer-Ingelheim-Salaries-E10416.htm,1885,"Ingelheim am Rhein, Germany",Biotech & Pharmaceuticals,200021,¬£5 to ¬£10 billion (GBP),Biotech & Pharmaceuticals,10005,10000+ employees,NaN,Company - Private,NaN,NaN,www.boehringer-ingelheim.com,NaN,NaN,NaN,1688.0,Hubertus von Baumbach,NaN,NaN,123.0,0.8,0.76,3.8,2802,GBR,GB,EU,Europe,4.0,False,UK,GBP,2.0,United Kingdom Pound (GBP),2.0,United Kingdom Pound,$(#),False,$#,&pound;,GBP,en_UK,United Kingdom,United Kingdom,True,2.0,United Kingdom,True,United Kingdom,False,60363602.0,UK,.uk,N,United Kingdom,United Kingdom,GBP,2.0,United Kingdom Pound (GBP),2.0,United Kingdom Pound,$(#),False,$#,&pound;,2019-10-14T06:05:58,2484.0,NaN
2,0.0,2803.0,2803.0,0,NaN,2803,-1,1043373,Immobiliare.it,201-500,False,NaN,0,3.230738e+09,NaN,"Senior Software Engineer (PHP, Elixir, Python)",Milano,2802090,CITY,0000016e56d0b5c58f39733898e10986,True,1573414548933,-8126337365693101690,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,437149,GENERAL,0,False,/partner/jobListing.htm?pos=101&ao=437149&s=58...,True,/static/img/banners/default-ei-banner.jpg,False,1043373,Immobiliare.it,False,-1,False,"Senior Software Engineer (PHP, Elixir, Python)",2802090,Milan,C,https://media.glassdoor.com/sqls/1043373/immob...,https://media.glassdoor.com/sqlm/1043373/immob...,True,/Overview/Working-at-Immobiliare-it-EI_IE10433...,"Oct 28, 2019",2.4,False,0,0,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dottori.it &egrave; il motore di ricerca che t...,2019-10-28T12:48:55,-1836661938,252306,4.069122e+09,NaN,Indeed XML Feed Employer,-1,3.230738e+09,NaN,Italy,Immobiliare.it,45.4667,9.2000,Milan,NaN,NaN,/Benefits/Immobiliare-it-UK-Benefits-EI_IE1043...,/Photos/Immobiliare-it-Office-Photos-E1043373.htm,/Reviews/Immobiliare-it-Reviews-E1043373.htm,/Salary/Immobiliare-it-Salaries-E1043373.htm,0,"MILANO, Italy",NaN,0,¬£25 to ¬£50 million (GBP),NaN,0,201 to 500 employees,NaN,Company - Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-1.0,0.47,2.4,2803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2485.0,NaN
3,0.0,2804.0,2804.0,0,NaN,2804,-1,2226886,Codup,1-50,False,NaN,0,3.406677e+09,NaN,Senior SQA Engineer,Karachi,3212296,CITY,0000016e56d0b5bca1733da6de4f4098,True,1573414548924,-6813034024377827176,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,389273,JOB_BOARD,0,False,/partner/jobListing.htm?pos=101&ao=389273&s=58...,True,/static/img/banners/default-ei-banner.jpg,False,2226886,Codup,False,-1,False,Senior SQA Engineer,3212296,KarƒÅchi,C,NaN,NaN,False,"/Overview/Working-at-Codup-EI_IE2226886.11,16.htm","Nov 4, 2019",1.5,False,0,0,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Codup is looking for a Senior SQA Engineer for...,2019-11-04T07:00:20,776027520,277822,4.202320e+09,NaN,Indeed XML Feed Dradis,35043,3.406677e+09,NaN,PK,Codup,24.8667,67.0500,KarƒÅchi,NaN,NaN,"/Benefits/Codup-UK-Benefits-EI_IE2226886.0,5_I...",/Photos/Codup-Office-Photos-E2226886.htm,/Reviews/Codup-Reviews-E2226886.htm,/Salary/Codup-Salaries-E2226886.htm,0,"Karachi, Pakistan",NaN,0,Unknown / Non-Applicable,NaN,0,1 to 50 employees,NaN,Company - Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-1.0,0.00,1.5,2804,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2486.0,NaN
4,0.0,2805.0,2805.0,0,NaN,2805,-1,851555,Markelytics Solutions,201-500,False,Consulting,200028,3.201516e+09,NaN,Research Manager,Bengaluru,2940587,CITY,0000016e56d0b5ba9a6c4efc3844657c,True,1573414548922,-7319388449201166980,Business Services,10006,NaN,NaN,NaN,NaN,NaN,NaN,437149,GENERAL,0,False,/partner/jobListing.htm?pos=101&ao=437149&s=58...,True,/static/img/banners/default-ei-banner.jpg,False,851555,MARKELYTICS SOLUTIONS INDIA,False,-1,False,Research Manager,2940587,Bengaluru,C,https://media.glassdoor.com/sqls/851555/markel...,https://media.glassdoor.com/sqlm/851555/markel...,True,/Overview/Working-at-MARKELYTICS-SOLUTIONS-IND...,"Nov 1, 2019",3.5,False,0,0,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<strong>Department:</strong> Research &amp; Op...,2019-11-01T13:40:48,928824553,252303,4.042579e+09,NaN,Indeed XML Feed Employer,33240,3.201516e+09,NaN,IN,Markelytics Solutions,12.9670,77.5873,Bengaluru,NaN,NaN,/Benefits/Markelytics-Solutions-UK-Benefits-EI...,/Photos/Markelytics-Solutions-Office-Photos-E8...,/Reviews/Markelytics-Solutions-Reviews-E851555...,/Salary/Markelytics-Solutions-Salaries-E851555...,2003,"Bangalore, India",Consulting,200028,Unknown / Non-Applicable,Business Services,10006,201 to 500 employees,NaN,Company - Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-1.0,0.67,3.5,2805,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2487.0,NaN

In [18]:
df3.shape

(165290, 163)

In [19]:
# Muucho missing data
df3.isna().sum()

benefits.benefitRatingDecimal                                        0
benefits.comments                                                    1
benefits.highlights                                                  1
benefits.numRatings                                                  0
benefits.employerSummary                                        159541
breadCrumbs                                                          0
gaTrackerData.category                                               0
gaTrackerData.empId                                                  0
gaTrackerData.empName                                            18209
gaTrackerData.empSize                                            18209
gaTrackerData.expired                                                0
gaTrackerData.industry                                           47405
gaTrackerData.industryId                                             0
gaTrackerData.jobId.long                                           246
gaTrackerData.jobId.int                                         165044
gaTrackerData.jobTitle                                               0
gaTrackerData.location                                           70283
gaTrackerData.locationId                                             0
gaTrackerData.locationType                                           0
gaTrackerData.pageRequestGuid.guid                                   0
gaTrackerData.pageRequestGuid.guidValid                              0
gaTrackerData.pageRequestGuid.part1                                  0
gaTrackerData.pageRequestGuid.part2                                  0
gaTrackerData.sector                                             47373
gaTrackerData.sectorId                                               0
gaTrackerData.profileConversionTrackingParams.trackingCAT       147633
gaTrackerData.profileConversionTrackingParams.trackingSRC       147633
gaTrackerData.profileConversionTrackingParams.trackingXSP       130168
gaTrackerData.jobViewTrackingResult.jobViewDisplayTimeMillis    163039
gaTrackerData.jobViewTrackingResult.requiresTracking            163039
gaTrackerData.jobViewTrackingResult.trackingUrl                 163039
header.adOrderId                                                     0
header.advertiserType                                             1905
header.applicationId                                                 0
header.applyButtonDisabled                                           0
header.applyUrl                                                      0
header.blur                                                          0
header.coverPhoto                                                    0
header.easyApply                                                     0
header.employerId                                                    0
header.employerName                                               3245
header.expired                                                       0
header.gocId                                                         0
header.hideCEOInfo                                                   0
header.jobTitle                                                      0
header.locId                                                         0
header.location                                                      5
header.locationType                                                 23
header.logo                                                      32220
header.logo2x                                                    32220
header.organic                                                       0
header.overviewUrl                                                   0
header.posted                                                        0
header.rating                                                        0
header.saved                                                         0
header.savedJobId                                                    0
header.sgocId                                                        0
header.sponsored                                                     0
header.userAdmin                                                     0
header.uxApplyType                                              147652
header.featuredVideo                                            151625
header.normalizedJobTitle                                       136135
header.urgencyLabel                                             160769
header.urgencyLabelForMessage                                   160769
header.urgencyMessage                                           160769
header.needsCommission                                          161628
header.payHigh                                                  161628
header.payLow                                                   161628
header.payMed                                                   161648
header.payPeriod                                                161653
header.salaryHigh                                               161628
header.salaryLow                                                161628
header.salarySource                                             161628
job.description                                                      4
job.discoverDate                                                     0
job.eolHashCode                                                      0
job.importConfigId                                                   0
job.jobReqId.long                                                   21
job.jobReqId.int                                                165269
job.jobSource                                                        0
job.jobTitleId                                                       0
job.listingId.long                                                 246
job.listingId.int                                               165044
map.country                                                      50028
map.employerName                                                 18141
map.lat                                                              0
map.lng                                                              0
map.location                                                         5
map.address                                                     151108
map.postalCode                                                  151317
overview.allBenefitsLink                                         18209
overview.allPhotosLink                                           18209
overview.allReviewsLink                                          18209
overview.allSalariesLink                                         18209
overview.foundedYear                                                 0
overview.hq                                                      19367
overview.industry                                                47405
overview.industryId                                                  0
overview.revenue                                                 18209
overview.sector                                                  47373
overview.sectorId                                                    0
overview.size                                                    18209
overview.stock                                                  118933
overview.type                                                    18209
overview.description                                             78331
overview.mission                                                113134
overview.website                                                 65106
overview.allVideosLink                                          132449
overview.competitors                                            117302
overview.companyVideo                                           138870
photos                                                           63861
rating.ceo.name                                                  52956
rating.ceo.photo                                                 85714
rating.ceo.photo2x                                               85714
rating.ceo.ratingsCount                                          18391
rating.ceoApproval                                               18391
rating.recommendToFriend                                         18391
rating.starRating                                                18391
reviews                                                              0
salary.country.cc3LetterISO                                      88513
salary.country.ccISO                                             88513
salary.country.continent.continentCode                           88513
salary.country.continent.continentName                           88513
salary.country.continent.id                                      88513
salary.country.continent.new                                     88513
salary.country.countryFIPS                                       88513
salary.country.currency.currencyCode                             88513
salary.country.currency.defaultFractionDigits                    88513
salary.country.currency.displayName                              88513
salary.country.currency.id                                       88513
salary.country.currency.name                                     88513
salary.country.currency.negativeTemplate                         88513
salary.country.currency.new                                      88513
salary.country.currency.positiveTemplate                         88513
salary.country.currency.symbol                                   88513
salary.country.currencyCode                                      88513
salary.country.defaultLocale                                     88513
salary.country.defaultName                                       88513
salary.country.defaultShortName                                  88513
salary.country.employerSolutionsCountry                          88513
salary.country.id                                                88513
salary.country.longName                                          88513
salary.country.major                                             88513
salary.country.name                                              88513
salary.country.new                                               88513
salary.country.population                                        88513
salary.country.shortName                                         88513
salary.country.tld                                               88513
salary.country.type                                              88513
salary.country.uniqueName                                        88513
salary.country.usaCentricDisplayName                             88513
salary.currency.currencyCode                                     88513
salary.currency.defaultFractionDigits                            88513
salary.currency.displayName                                      88513
salary.currency.id                                               88513
salary.currency.name                                             88513
salary.currency.negativeTemplate                                 88513
salary.currency.new                                              88513
salary.currency.positiveTemplate                                 88513
salary.currency.symbol                                           88513
salary.lastSalaryDate                                            88513
salary.salaries                                                  18141
wwfu                                                            146549
dtype: int64

In [20]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165290 entries, 0 to 165289
Columns: 163 entries, benefits.benefitRatingDecimal to wwfu
dtypes: bool(11), float64(35), int64(23), object(94)
memory usage: 193.4+ MB

---
#### Lista de columnas

---

In [21]:

glassdoor_cols = df3.columns.tolist()
glassdoor_cols

['benefits.benefitRatingDecimal',
 'benefits.comments',
 'benefits.highlights',
 'benefits.numRatings',
 'benefits.employerSummary',
 'breadCrumbs',
 'gaTrackerData.category',
 'gaTrackerData.empId',
 'gaTrackerData.empName',
 'gaTrackerData.empSize',
 'gaTrackerData.expired',
 'gaTrackerData.industry',
 'gaTrackerData.industryId',
 'gaTrackerData.jobId.long',
 'gaTrackerData.jobId.int',
 'gaTrackerData.jobTitle',
 'gaTrackerData.location',
 'gaTrackerData.locationId',
 'gaTrackerData.locationType',
 'gaTrackerData.pageRequestGuid.guid',
 'gaTrackerData.pageRequestGuid.guidValid',
 'gaTrackerData.pageRequestGuid.part1',
 'gaTrackerData.pageRequestGuid.part2',
 'gaTrackerData.sector',
 'gaTrackerData.sectorId',
 'gaTrackerData.profileConversionTrackingParams.trackingCAT',
 'gaTrackerData.profileConversionTrackingParams.trackingSRC',
 'gaTrackerData.profileConversionTrackingParams.trackingXSP',
 'gaTrackerData.jobViewTrackingResult.jobViewDisplayTimeMillis',
 'gaTrackerData.jobViewTrackingResult.requiresTracking',
 'gaTrackerData.jobViewTrackingResult.trackingUrl',
 'header.adOrderId',
 'header.advertiserType',
 'header.applicationId',
 'header.applyButtonDisabled',
 'header.applyUrl',
 'header.blur',
 'header.coverPhoto',
 'header.easyApply',
 'header.employerId',
 'header.employerName',
 'header.expired',
 'header.gocId',
 'header.hideCEOInfo',
 'header.jobTitle',
 'header.locId',
 'header.location',
 'header.locationType',
 'header.logo',
 'header.logo2x',
 'header.organic',
 'header.overviewUrl',
 'header.posted',
 'header.rating',
 'header.saved',
 'header.savedJobId',
 'header.sgocId',
 'header.sponsored',
 'header.userAdmin',
 'header.uxApplyType',
 'header.featuredVideo',
 'header.normalizedJobTitle',
 'header.urgencyLabel',
 'header.urgencyLabelForMessage',
 'header.urgencyMessage',
 'header.needsCommission',
 'header.payHigh',
 'header.payLow',
 'header.payMed',
 'header.payPeriod',
 'header.salaryHigh',
 'header.salaryLow',
 'header.salarySource',
 'job.description',
 'job.discoverDate',
 'job.eolHashCode',
 'job.importConfigId',
 'job.jobReqId.long',
 'job.jobReqId.int',
 'job.jobSource',
 'job.jobTitleId',
 'job.listingId.long',
 'job.listingId.int',
 'map.country',
 'map.employerName',
 'map.lat',
 'map.lng',
 'map.location',
 'map.address',
 'map.postalCode',
 'overview.allBenefitsLink',
 'overview.allPhotosLink',
 'overview.allReviewsLink',
 'overview.allSalariesLink',
 'overview.foundedYear',
 'overview.hq',
 'overview.industry',
 'overview.industryId',
 'overview.revenue',
 'overview.sector',
 'overview.sectorId',
 'overview.size',
 'overview.stock',
 'overview.type',
 'overview.description',
 'overview.mission',
 'overview.website',
 'overview.allVideosLink',
 'overview.competitors',
 'overview.companyVideo',
 'photos',
 'rating.ceo.name',
 'rating.ceo.photo',
 'rating.ceo.photo2x',
 'rating.ceo.ratingsCount',
 'rating.ceoApproval',
 'rating.recommendToFriend',
 'rating.starRating',
 'reviews',
 'salary.country.cc3LetterISO',
 'salary.country.ccISO',
 'salary.country.continent.continentCode',
 'salary.country.continent.continentName',
 'salary.country.continent.id',
 'salary.country.continent.new',
 'salary.country.countryFIPS',
 'salary.country.currency.currencyCode',
 'salary.country.currency.defaultFractionDigits',
 'salary.country.currency.displayName',
 'salary.country.currency.id',
 'salary.country.currency.name',
 'salary.country.currency.negativeTemplate',
 'salary.country.currency.new',
 'salary.country.currency.positiveTemplate',
 'salary.country.currency.symbol',
 'salary.country.currencyCode',
 'salary.country.defaultLocale',
 'salary.country.defaultName',
 'salary.country.defaultShortName',
 'salary.country.employerSolutionsCountry',
 'salary.country.id',
 'salary.country.longName',
 'salary.country.major',
 'salary.country.name',
 'salary.country.new',
 'salary.country.population',
 'salary.country.shortName',
 'salary.country.tld',
 'salary.country.type',
 'salary.country.uniqueName',
 'salary.country.usaCentricDisplayName',
 'salary.currency.currencyCode',
 'salary.currency.defaultFractionDigits',
 'salary.currency.displayName',
 'salary.currency.id',
 'salary.currency.name',
 'salary.currency.negativeTemplate',
 'salary.currency.new',
 'salary.currency.positiveTemplate',
 'salary.currency.symbol',
 'salary.lastSalaryDate',
 'salary.salaries',
 'wwfu']

---![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

### Los datos parecen estar separados en categorias
- benefits
- breadCrumbs
- gaTrackerData
- header
- job
- map
- overview
- photos
- rating
- reviews
- salary
- wwfu


> Vamos a aplicar una estrategia de divide and conquer.

Vamos a generar un dataframe para cada categoria para poder analizarlo de manera mas comoda

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

In [22]:
category = [ 'benefits', 'breadCrumbs','gaTrackerData', 'header', 'job', 'map', 'overview', 'photos', 'rating', 'reviews', 'salary', 'wwfu']

# Voy a crear un diccionario con dataframes para cada categoria
cat_dict_dfs = {}

for c in category:
    cat_dict_dfs['df_'+c] = df3.filter(regex='^'+c)

In [23]:
# Nombres de los dataframes
df_names= list(cat_dict_dfs.keys())

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Analisis exploratorio inicial sobre las categorias

Miramos cada una de las 12 categorias para identificar donde esta la info relevante

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)
#### Benefits

Columnas importantes:
No

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

In [24]:
# Benefits
i = 0
benefits = cat_dict_dfs[df_names[i]]
print('---------------------------------------------------------------------------------')
print(f"Categoria: {df_names[i]}")
print(benefits.head())
print('---------------------------------------------------------------------------------')

---------------------------------------------------------------------------------
Categoria: df_benefits
   benefits.benefitRatingDecimal  benefits.comments  benefits.highlights
0                            0.0             2801.0               2801.0  \
1                            4.0             2802.0               2802.0
2                            0.0             2803.0               2803.0
3                            0.0             2804.0               2804.0
4                            0.0             2805.0               2805.0

   benefits.numRatings benefits.employerSummary
0                    0                      NaN
1                    3                      NaN
2                    0                      NaN
3                    0                      NaN
4                    0                      NaN
---------------------------------------------------------------------------------

In [25]:
benefits.isna().sum()

benefits.benefitRatingDecimal         0
benefits.comments                     1
benefits.highlights                   1
benefits.numRatings                   0
benefits.employerSummary         159541
dtype: int64

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)
#### breadCrumbs

¬øMigas de pan???
No se a que se refiere esta columna --> investigar

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

In [26]:
# breadCrumbs --> ¬°¬ø Migas de pan?!
i = 1
breadCrumbs = cat_dict_dfs[df_names[i]]
print('---------------------------------------------------------------------------------')
print(f"Categoria: {df_names[i]}")
print(breadCrumbs.head())
print('---------------------------------------------------------------------------------')

---------------------------------------------------------------------------------
Categoria: df_breadCrumbs
   breadCrumbs
0         2801
1         2802
2         2803
3         2804
4         2805
---------------------------------------------------------------------------------

In [27]:
breadCrumbs.isna().sum()

breadCrumbs    0
dtype: int64

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

#### gaTrackerData
Informacion sobre las empresas, cantidad de empleados,sector, etc

**Columnas interesantes para revisar:**
* gaTrackerData.empName
* gaTrackerData.empSize
* gaTrackerData.industry
* gaTrackerData.jobTitle
* gaTrackerData.location
* gaTrackerData.sector

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

In [28]:
i = 2

gaTrackerData = cat_dict_dfs[df_names[i]]
print('---------------------------------------------------------------------------------')
print(f"Categoria: {df_names[i]}")
print(gaTrackerData.head())
print('---------------------------------------------------------------------------------')


gaTrackerData_sel_col = ['gaTrackerData.empName', 'gaTrackerData.empSize',\
                        'gaTrackerData.industry','gaTrackerData.jobTitle',\
                        'gaTrackerData.location', 'gaTrackerData.sector']

---------------------------------------------------------------------------------
Categoria: df_gaTrackerData
   gaTrackerData.category  gaTrackerData.empId  gaTrackerData.empName
0                      -1              2183810            Modus Group  \
1                      -1                10416   Boehringer Ingelheim
2                      -1              1043373        Immobiliare.it
3                      -1              2226886                  Codup
4                      -1               851555  Markelytics Solutions

  gaTrackerData.empSize  gaTrackerData.expired
0              501-1000                  False  \
1              10000--1                  False
2               201-500                  False
3                  1-50                  False
4               201-500                  False

                  gaTrackerData.industry  gaTrackerData.industryId
0  Investment Banking & Asset Management                    200053  \
1              Biotech & Pharmaceuticals                    200021
2                                    NaN                         0
3                                    NaN                         0
4                             Consulting                    200028

   gaTrackerData.jobId.long  gaTrackerData.jobId.int
0              3.227100e+09                      NaN  \
1              3.406582e+09                      NaN
2              3.230738e+09                      NaN
3              3.406677e+09                      NaN
4              3.201516e+09                      NaN

                              gaTrackerData.jobTitle gaTrackerData.location
0                 Biogas Project Development Manager                 Warsaw  \
1  Quality Manager - Boehringer Ingelheim Healthc...                    NaN
2     Senior Software Engineer (PHP, Elixir, Python)                 Milano
3                                Senior SQA Engineer                Karachi
4                                   Research Manager              Bengaluru

   gaTrackerData.locationId gaTrackerData.locationType
0                   3094484                       CITY  \
1                   3183562                       CITY
2                   2802090                       CITY
3                   3212296                       CITY
4                   2940587                       CITY

  gaTrackerData.pageRequestGuid.guid  gaTrackerData.pageRequestGuid.guidValid
0   0000016e56d0b5f2b16c3aea720c55ae                                     True  \
1   0000016e56d0b5cfa19a4b2ba225a2ee                                     True
2   0000016e56d0b5c58f39733898e10986                                     True
3   0000016e56d0b5bca1733da6de4f4098                                     True
4   0000016e56d0b5ba9a6c4efc3844657c                                     True

   gaTrackerData.pageRequestGuid.part1  gaTrackerData.pageRequestGuid.part2
0                        1573414548978                 -5662085852901386834  \
1                        1573414548943                 -6802041636413660434
2                        1573414548933                 -8126337365693101690
3                        1573414548924                 -6813034024377827176
4                        1573414548922                 -7319388449201166980

        gaTrackerData.sector  gaTrackerData.sectorId
0                    Finance                   10010  \
1  Biotech & Pharmaceuticals                   10005
2                        NaN                       0
3                        NaN                       0
4          Business Services                   10006

  gaTrackerData.profileConversionTrackingParams.trackingCAT
0                                                NaN         \
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   gaTrackerData.profileConversionTrackingParams.trackingSRC
0                                                NaN          \
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   gaTrackerData.profileConversionTrackingParams.trackingXSP
0                                                NaN          \
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   gaTrackerData.jobViewTrackingResult.jobViewDisplayTimeMillis
0                                                NaN             \
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  gaTrackerData.jobViewTrackingResult.requiresTracking
0                                                NaN    \
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  gaTrackerData.jobViewTrackingResult.trackingUrl
0                                             NaN
1                                             NaN
2                                             NaN
3                                             NaN
4                                             NaN
---------------------------------------------------------------------------------

In [29]:
gaTrackerData_sel = gaTrackerData[gaTrackerData_sel_col]
gaTrackerData_sel.head()

,gaTrackerData.empName,gaTrackerData.empSize,gaTrackerData.industry,gaTrackerData.jobTitle,gaTrackerData.location,gaTrackerData.sector
0,Modus Group,501-1000,Investment Banking & Asset Management,Biogas Project Development Manager,Warsaw,Finance
1,Boehringer Ingelheim,10000--1,Biotech & Pharmaceuticals,Quality Manager - Boehringer Ingelheim Healthc...,NaN,Biotech & Pharmaceuticals
2,Immobiliare.it,201-500,NaN,"Senior Software Engineer (PHP, Elixir, Python)",Milano,NaN
3,Codup,1-50,NaN,Senior SQA Engineer,Karachi,NaN
4,Markelytics Solutions,201-500,Consulting,Research Manager,Bengaluru,Business Services

In [30]:
gaTrackerData_sel.isna().sum()

gaTrackerData.empName     18209
gaTrackerData.empSize     18209
gaTrackerData.industry    47405
gaTrackerData.jobTitle        0
gaTrackerData.location    70283
gaTrackerData.sector      47373
dtype: int64

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)
#### Header

**Columnas importantes**
- header.employerName
- header.jobTitle
- header.payHigh
- header.payLow 
- header.payMed 
- header.payPeriod
- header.salaryHigh  
- header.salaryLow 
- header.salarySource

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

In [31]:

i = 3
header = cat_dict_dfs[df_names[i]]
print('---------------------------------------------------------------------------------')
print(f"Categoria: {df_names[i]}")
print(header.head())
print('---------------------------------------------------------------------------------')

---------------------------------------------------------------------------------
Categoria: df_header
   header.adOrderId header.advertiserType  header.applicationId
0             14295               GENERAL                     0  \
1             43297               GENERAL                     0
2            437149               GENERAL                     0
3            389273             JOB_BOARD                     0
4            437149               GENERAL                     0

   header.applyButtonDisabled
0                       False  \
1                       False
2                       False
3                       False
4                       False

                                     header.applyUrl  header.blur
0  /partner/jobListing.htm?pos=101&ao=14295&tgt=A...         True  \
1  /partner/jobListing.htm?pos=101&ao=43297&s=58&...         True
2  /partner/jobListing.htm?pos=101&ao=437149&s=58...         True
3  /partner/jobListing.htm?pos=101&ao=389273&s=58...         True
4  /partner/jobListing.htm?pos=101&ao=437149&s=58...         True

                           header.coverPhoto  header.easyApply
0  /static/img/banners/default-ei-banner.jpg              True  \
1  /static/img/banners/default-ei-banner.jpg             False
2  /static/img/banners/default-ei-banner.jpg             False
3  /static/img/banners/default-ei-banner.jpg             False
4  /static/img/banners/default-ei-banner.jpg             False

   header.employerId          header.employerName  header.expired
0            2183810                  Modus Group           False  \
1              10416         Boehringer Ingelheim           False
2            1043373               Immobiliare.it           False
3            2226886                        Codup           False
4             851555  MARKELYTICS SOLUTIONS INDIA           False

   header.gocId  header.hideCEOInfo
0            -1               False  \
1            -1               False
2            -1               False
3            -1               False
4            -1               False

                                     header.jobTitle  header.locId
0                 Biogas Project Development Manager       3094484  \
1  Quality Manager - Boehringer Ingelheim Healthc...       3183562
2     Senior Software Engineer (PHP, Elixir, Python)       2802090
3                                Senior SQA Engineer       3212296
4                                   Research Manager       2940587

  header.location header.locationType
0          Warsaw                   C  \
1           Porto                   C
2           Milan                   C
3         KarƒÅchi                   C
4       Bengaluru                   C

                                         header.logo
0  https://media.glassdoor.com/sqls/2183810/modus...  \
1  https://media.glassdoor.com/sqls/10416/boehrin...
2  https://media.glassdoor.com/sqls/1043373/immob...
3                                                NaN
4  https://media.glassdoor.com/sqls/851555/markel...

                                       header.logo2x  header.organic
0  https://media.glassdoor.com/sqlm/2183810/modus...            True  \
1  https://media.glassdoor.com/sqlm/10416/boehrin...            True
2  https://media.glassdoor.com/sqlm/1043373/immob...            True
3                                                NaN           False
4  https://media.glassdoor.com/sqlm/851555/markel...            True

                                  header.overviewUrl header.posted
0  /Overview/Working-at-Modus-Group-EI_IE2183810....  Oct 24, 2019  \
1  /Overview/Working-at-Boehringer-Ingelheim-EI_I...   Nov 4, 2019
2  /Overview/Working-at-Immobiliare-it-EI_IE10433...  Oct 28, 2019
3  /Overview/Working-at-Codup-EI_IE2226886.11,16.htm   Nov 4, 2019
4  /Overview/Working-at-MARKELYTICS-SOLUTIONS-IND...   Nov 1, 2019

   header.rating  header.saved  header.savedJobId  header.sgocId
0           -0.1         False                  0              0  \
1            3.8         False                  0              0
2            2.4         False                  0              0
3            1.5         False                  0              0
4            3.5         False                  0              0

   header.sponsored  header.userAdmin header.uxApplyType header.featuredVideo
0             False             False                API                  NaN  \
1             False             False                NaN                  NaN
2             False             False                NaN                  NaN
3             False             False                NaN                  NaN
4             False             False                NaN                  NaN

  header.normalizedJobTitle header.urgencyLabel header.urgencyLabelForMessage
0                       NaN                 NaN                           NaN  \
1                       NaN                 NaN                           NaN
2                       NaN                 NaN                           NaN
3                       NaN                 NaN                           NaN
4                       NaN                 NaN                           NaN

  header.urgencyMessage header.needsCommission  header.payHigh  header.payLow
0                   NaN                    NaN             NaN            NaN  \
1                   NaN                    NaN             NaN            NaN
2                   NaN                    NaN             NaN            NaN
3                   NaN                    NaN             NaN            NaN
4                   NaN                    NaN             NaN            NaN

   header.payMed header.payPeriod  header.salaryHigh  header.salaryLow
0            NaN              NaN                NaN               NaN  \
1            NaN              NaN                NaN               NaN
2            NaN              NaN                NaN               NaN
3            NaN              NaN                NaN               NaN
4            NaN              NaN                NaN               NaN

  header.salarySource
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
---------------------------------------------------------------------------------

In [32]:
header_sel_col = ["header.employerName", "header.jobTitle", \
"header.payHigh", "header.payLow", "header.payMed" , "header.payPeriod", \
"header.salaryHigh", "header.salaryLow" , "header.salarySource"]

header_sel = header[header_sel_col]
header_sel.head()

,header.employerName,header.jobTitle,header.payHigh,header.payLow,header.payMed,header.payPeriod,header.salaryHigh,header.salaryLow,header.salarySource
0,Modus Group,Biogas Project Development Manager,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Boehringer Ingelheim,Quality Manager - Boehringer Ingelheim Healthc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Immobiliare.it,"Senior Software Engineer (PHP, Elixir, Python)",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Codup,Senior SQA Engineer,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MARKELYTICS SOLUTIONS INDIA,Research Manager,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
header_sel.isna().sum()

header.employerName      3245
header.jobTitle             0
header.payHigh         161628
header.payLow          161628
header.payMed          161648
header.payPeriod       161653
header.salaryHigh      161628
header.salaryLow       161628
header.salarySource    161628
dtype: int64

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)
#### job


**columnas importantes:**
- job.description
- job.jobSource

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

In [34]:

i = 4
job = cat_dict_dfs[df_names[i]]
print('---------------------------------------------------------------------------------')
print(f"Categoria: {df_names[i]}")
print(job.head())
print('---------------------------------------------------------------------------------')

---------------------------------------------------------------------------------
Categoria: df_job
                                     job.description     job.discoverDate
0  We are the drivers of the future who offer a g...  2019-10-24T04:52:23  \
1  <strong></strong>\n<br/><br/>\n<strong></stron...  2019-11-04T03:59:14
2  Dottori.it &egrave; il motore di ricerca che t...  2019-10-28T12:48:55
3  Codup is looking for a Senior SQA Engineer for...  2019-11-04T07:00:20
4  <strong>Department:</strong> Research &amp; Op...  2019-11-01T13:40:48

   job.eolHashCode  job.importConfigId  job.jobReqId.long  job.jobReqId.int
0         -2041513               75613       4.101124e+09               NaN  \
1        320139505               91874       4.202175e+09               NaN
2      -1836661938              252306       4.069122e+09               NaN
3        776027520              277822       4.202320e+09               NaN
4        928824553              252303       4.042579e+09               NaN

              job.jobSource  job.jobTitleId  job.listingId.long
0            WorkableHR.com              -1        3.227100e+09  \
1                     taleo              -1        3.406582e+09
2  Indeed XML Feed Employer              -1        3.230738e+09
3    Indeed XML Feed Dradis           35043        3.406677e+09
4  Indeed XML Feed Employer           33240        3.201516e+09

   job.listingId.int
0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
---------------------------------------------------------------------------------

In [35]:
job_sel_col = [ 'job.description', 'job.jobSource']
job_sel = job[job_sel_col]
job_sel.head()

                                     job.description             job.jobSource
0  We are the drivers of the future who offer a g...            WorkableHR.com
1  <strong></strong>\n<br/><br/>\n<strong></stron...                     taleo
2  Dottori.it &egrave; il motore di ricerca che t...  Indeed XML Feed Employer
3  Codup is looking for a Senior SQA Engineer for...    Indeed XML Feed Dradis
4  <strong>Department:</strong> Research &amp; Op...  Indeed XML Feed Employer

In [36]:
job_sel.isna().sum()

job.description    4
job.jobSource      0
dtype: int64

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

#### map


**columnas importantes**
- map.country
- map.employerName
- map.location

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

In [37]:
i = 5

the_map = cat_dict_dfs[df_names[i]]

print('---------------------------------------------------------------------------------')
print(f"Categoria: {df_names[i]}")
print(the_map.head())
print('---------------------------------------------------------------------------------')

---------------------------------------------------------------------------------
Categoria: df_map
  map.country       map.employerName  map.lat  map.lng map.location
0      Poland            Modus Group  52.2500  21.0000       Warsaw  \
1         NaN   Boehringer Ingelheim  41.1500  -8.6167        Porto
2       Italy        Immobiliare.it   45.4667   9.2000        Milan
3          PK                  Codup  24.8667  67.0500      KarƒÅchi
4          IN  Markelytics Solutions  12.9670  77.5873    Bengaluru

  map.address map.postalCode
0         NaN            NaN
1         NaN            NaN
2         NaN            NaN
3         NaN            NaN
4         NaN            NaN
---------------------------------------------------------------------------------

In [38]:
the_map_sel_col = ["map.country", "map.employerName", "map.location"]
the_map_sel = the_map[the_map_sel_col]
the_map_sel.head()

  map.country       map.employerName map.location
0      Poland            Modus Group       Warsaw
1         NaN   Boehringer Ingelheim        Porto
2       Italy        Immobiliare.it         Milan
3          PK                  Codup      KarƒÅchi
4          IN  Markelytics Solutions    Bengaluru

In [39]:
the_map_sel.isna().sum()

map.country         50028
map.employerName    18141
map.location            5
dtype: int64

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

#### overview


**Columnas importantes?**
- overview.allBenefitsLink   
- overview.allSalariesLink  
- overview.foundedYear   
- overview.industry
- overview.size 

> No tanto, puedo no agregarlas

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

In [40]:
i = 6
overview = cat_dict_dfs[df_names[i]]
print('---------------------------------------------------------------------------------')
print(f"Categoria: {df_names[i]}")
print(overview.head())
print('---------------------------------------------------------------------------------')

---------------------------------------------------------------------------------
Categoria: df_overview
                            overview.allBenefitsLink
0  /Benefits/Modus-Group-UK-Benefits-EI_IE2183810...  \
1  /Benefits/Boehringer-Ingelheim-UK-Benefits-EI_...
2  /Benefits/Immobiliare-it-UK-Benefits-EI_IE1043...
3  /Benefits/Codup-UK-Benefits-EI_IE2226886.0,5_I...
4  /Benefits/Markelytics-Solutions-UK-Benefits-EI...

                              overview.allPhotosLink
0     /Photos/Modus-Group-Office-Photos-E2183810.htm  \
1  /Photos/Boehringer-Ingelheim-Office-Photos-E10...
2  /Photos/Immobiliare-it-Office-Photos-E1043373.htm
3           /Photos/Codup-Office-Photos-E2226886.htm
4  /Photos/Markelytics-Solutions-Office-Photos-E8...

                             overview.allReviewsLink
0          /Reviews/Modus-Group-Reviews-E2183810.htm  \
1   /Reviews/Boehringer-Ingelheim-Reviews-E10416.htm
2       /Reviews/Immobiliare-it-Reviews-E1043373.htm
3                /Reviews/Codup-Reviews-E2226886.htm
4  /Reviews/Markelytics-Solutions-Reviews-E851555...

                            overview.allSalariesLink  overview.foundedYear
0          /Salary/Modus-Group-Salaries-E2183810.htm                  1993  \
1   /Salary/Boehringer-Ingelheim-Salaries-E10416.htm                  1885
2       /Salary/Immobiliare-it-Salaries-E1043373.htm                     0
3                /Salary/Codup-Salaries-E2226886.htm                     0
4  /Salary/Markelytics-Solutions-Salaries-E851555...                  2003

                   overview.hq                      overview.industry
0           Vilnius, Lithuania  Investment Banking & Asset Management  \
1  Ingelheim am Rhein, Germany              Biotech & Pharmaceuticals
2                MILANO, Italy                                    NaN
3            Karachi, Pakistan                                    NaN
4             Bangalore, India                             Consulting

   overview.industryId          overview.revenue            overview.sector
0               200053  Unknown / Non-Applicable                    Finance  \
1               200021   ¬£5 to ¬£10 billion (GBP)  Biotech & Pharmaceuticals
2                    0  ¬£25 to ¬£50 million (GBP)                        NaN
3                    0  Unknown / Non-Applicable                        NaN
4               200028  Unknown / Non-Applicable          Business Services

   overview.sectorId          overview.size overview.stock      overview.type
0              10010  501 to 1000 employees            NaN  Company - Private  \
1              10005       10000+ employees            NaN  Company - Private
2                  0   201 to 500 employees            NaN  Company - Private
3                  0      1 to 50 employees            NaN  Company - Private
4              10006   201 to 500 employees            NaN  Company - Private

                                overview.description overview.mission
0  We are the drivers of the future who offer a g...              NaN  \
1                                                NaN              NaN
2                                                NaN              NaN
3                                                NaN              NaN
4                                                NaN              NaN

               overview.website overview.allVideosLink  overview.competitors
0               www.modus.group                    NaN                   NaN  \
1  www.boehringer-ingelheim.com                    NaN                   NaN
2                           NaN                    NaN                   NaN
3                           NaN                    NaN                   NaN
4                           NaN                    NaN                   NaN

  overview.companyVideo
0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN
---------------------------------------------------------------------------------

In [41]:
overview_sel_col = ["overview.allBenefitsLink",  "overview.allSalariesLink", \
    "overview.foundedYear", "overview.industry", "overview.size" ]

overview_sel = overview[overview_sel_col]
overview_sel.head()

,overview.allBenefitsLink,overview.allSalariesLink,overview.foundedYear,overview.industry,overview.size
0,/Benefits/Modus-Group-UK-Benefits-EI_IE2183810...,/Salary/Modus-Group-Salaries-E2183810.htm,1993,Investment Banking & Asset Management,501 to 1000 employees
1,/Benefits/Boehringer-Ingelheim-UK-Benefits-EI_...,/Salary/Boehringer-Ingelheim-Salaries-E10416.htm,1885,Biotech & Pharmaceuticals,10000+ employees
2,/Benefits/Immobiliare-it-UK-Benefits-EI_IE1043...,/Salary/Immobiliare-it-Salaries-E1043373.htm,0,NaN,201 to 500 employees
3,"/Benefits/Codup-UK-Benefits-EI_IE2226886.0,5_I...",/Salary/Codup-Salaries-E2226886.htm,0,NaN,1 to 50 employees
4,/Benefits/Markelytics-Solutions-UK-Benefits-EI...,/Salary/Markelytics-Solutions-Salaries-E851555...,2003,Consulting,201 to 500 employees

In [42]:
overview_sel.isna().sum()

overview.allBenefitsLink    18209
overview.allSalariesLink    18209
overview.foundedYear            0
overview.industry           47405
overview.size               18209
dtype: int64

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)
#### photos
**Columnas importantes --> No**

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

In [43]:
i = 7
photos = cat_dict_dfs[df_names[i]]
print('---------------------------------------------------------------------------------')
print(f"Categoria: {df_names[i]}")
print(photos.head())
print('---------------------------------------------------------------------------------')

---------------------------------------------------------------------------------
Categoria: df_photos
   photos
0  1687.0
1  1688.0
2     NaN
3     NaN
4     NaN
---------------------------------------------------------------------------------

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

#### rating

**columnas importantes**
- rating.recommendToFriend
- rating.starRating

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

In [44]:
i = 8
rating = cat_dict_dfs[df_names[i]]
print('---------------------------------------------------------------------------------')
print(f"Categoria: {df_names[i]}")
print(rating.head())
print('---------------------------------------------------------------------------------')

---------------------------------------------------------------------------------
Categoria: df_rating
          rating.ceo.name rating.ceo.photo rating.ceo.photo2x
0     Liudas Liutkeviƒçius              NaN                NaN  \
1  Hubertus von Baumbach               NaN                NaN
2                     NaN              NaN                NaN
3                     NaN              NaN                NaN
4                     NaN              NaN                NaN

   rating.ceo.ratingsCount  rating.ceoApproval  rating.recommendToFriend
0                      0.0                -0.1                     -0.10  \
1                    123.0                 0.8                      0.76
2                      0.0                -1.0                      0.47
3                      0.0                -1.0                      0.00
4                      0.0                -1.0                      0.67

   rating.starRating
0               -0.1
1                3.8
2                2.4
3                1.5
4                3.5
---------------------------------------------------------------------------------

In [45]:
rating_sel_col = ["rating.recommendToFriend", "rating.starRating"]
rating_sel = rating[rating_sel_col]
rating_sel.head()

   rating.recommendToFriend  rating.starRating
0                     -0.10               -0.1
1                      0.76                3.8
2                      0.47                2.4
3                      0.00                1.5
4                      0.67                3.5

In [46]:
rating_sel.isna().sum()

rating.recommendToFriend    18391
rating.starRating           18391
dtype: int64

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)
#### Reviews (es un numero)

**columnas importante. No (es solo una columna)**

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

In [47]:

i = 9
reviews = cat_dict_dfs[df_names[i]]
print('---------------------------------------------------------------------------------')
print(f"Categoria: {df_names[i]}")
print(reviews.head())
print('---------------------------------------------------------------------------------')

---------------------------------------------------------------------------------
Categoria: df_reviews
   reviews
0     2801
1     2802
2     2803
3     2804
4     2805
---------------------------------------------------------------------------------

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)
#### salary
**Columnas importantes**

- salary.country.cc3LetterISO
- salary.country.ccISO
- salary.country.continent.continentCode
- salary.country.continent.continentName
- salary.country.currency.currencyCode
- salary.country.currency.defaultFractionDigits
- salary.country.currency.displayName
- salary.currency.displayName 
- salary.currency.name
- salary.lastSalaryDate
- salary.salaries

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

In [48]:
i = 10
salary = cat_dict_dfs[df_names[i]]
print('---------------------------------------------------------------------------------')
print(f"Categoria: {df_names[i]}")
print(salary.head())
print('---------------------------------------------------------------------------------')

---------------------------------------------------------------------------------
Categoria: df_salary
  salary.country.cc3LetterISO salary.country.ccISO
0                         NaN                  NaN  \
1                         GBR                   GB
2                         NaN                  NaN
3                         NaN                  NaN
4                         NaN                  NaN

  salary.country.continent.continentCode
0                                    NaN  \
1                                     EU
2                                    NaN
3                                    NaN
4                                    NaN

  salary.country.continent.continentName  salary.country.continent.id
0                                    NaN                          NaN  \
1                                 Europe                          4.0
2                                    NaN                          NaN
3                                    NaN                          NaN
4                                    NaN                          NaN

  salary.country.continent.new salary.country.countryFIPS
0                          NaN                        NaN  \
1                        False                         UK
2                          NaN                        NaN
3                          NaN                        NaN
4                          NaN                        NaN

  salary.country.currency.currencyCode
0                                  NaN  \
1                                  GBP
2                                  NaN
3                                  NaN
4                                  NaN

   salary.country.currency.defaultFractionDigits
0                                            NaN  \
1                                            2.0
2                                            NaN
3                                            NaN
4                                            NaN

  salary.country.currency.displayName  salary.country.currency.id
0                                 NaN                         NaN  \
1          United Kingdom Pound (GBP)                         2.0
2                                 NaN                         NaN
3                                 NaN                         NaN
4                                 NaN                         NaN

  salary.country.currency.name salary.country.currency.negativeTemplate
0                          NaN                                      NaN  \
1         United Kingdom Pound                                     $(#)
2                          NaN                                      NaN
3                          NaN                                      NaN
4                          NaN                                      NaN

  salary.country.currency.new salary.country.currency.positiveTemplate
0                         NaN                                      NaN  \
1                       False                                       $#
2                         NaN                                      NaN
3                         NaN                                      NaN
4                         NaN                                      NaN

  salary.country.currency.symbol salary.country.currencyCode
0                            NaN                         NaN  \
1                        &pound;                         GBP
2                            NaN                         NaN
3                            NaN                         NaN
4                            NaN                         NaN

  salary.country.defaultLocale salary.country.defaultName
0                          NaN                        NaN  \
1                        en_UK             United Kingdom
2                          NaN                        NaN
3                          NaN                        NaN
4                          NaN                        NaN

  salary.country.defaultShortName salary.country.employerSolutionsCountry
0                             NaN                                     NaN  \
1                  United Kingdom                                    True
2                             NaN                                     NaN
3                             NaN                                     NaN
4                             NaN                                     NaN

   salary.country.id salary.country.longName salary.country.major
0                NaN                     NaN                  NaN  \
1                2.0          United Kingdom                 True
2                NaN                     NaN                  NaN
3                NaN                     NaN                  NaN
4                NaN                     NaN                  NaN

  salary.country.name salary.country.new  salary.country.population
0                 NaN                NaN                        NaN  \
1      United Kingdom              False                 60363602.0
2                 NaN                NaN                        NaN
3                 NaN                NaN                        NaN
4                 NaN                NaN                        NaN

  salary.country.shortName salary.country.tld salary.country.type
0                      NaN                NaN                 NaN  \
1                       UK                .uk                   N
2                      NaN                NaN                 NaN
3                      NaN                NaN                 NaN
4                      NaN                NaN                 NaN

  salary.country.uniqueName salary.country.usaCentricDisplayName
0                       NaN                                  NaN  \
1            United Kingdom                       United Kingdom
2                       NaN                                  NaN
3                       NaN                                  NaN
4                       NaN                                  NaN

  salary.currency.currencyCode  salary.currency.defaultFractionDigits
0                          NaN                                    NaN  \
1                          GBP                                    2.0
2                          NaN                                    NaN
3                          NaN                                    NaN
4                          NaN                                    NaN

  salary.currency.displayName  salary.currency.id  salary.currency.name
0                         NaN                 NaN                   NaN  \
1  United Kingdom Pound (GBP)                 2.0  United Kingdom Pound
2                         NaN                 NaN                   NaN
3                         NaN                 NaN                   NaN
4                         NaN                 NaN                   NaN

  salary.currency.negativeTemplate salary.currency.new
0                              NaN                 NaN  \
1                             $(#)               False
2                              NaN                 NaN
3                              NaN                 NaN
4                              NaN                 NaN

  salary.currency.positiveTemplate salary.currency.symbol
0                              NaN                    NaN  \
1                               $#                &pound;
2                              NaN                    NaN
3                              NaN                    NaN
4                              NaN                    NaN

  salary.lastSalaryDate  salary.salaries
0                   NaN           2483.0
1   2019-10-14T06:05:58           2484.0
2                   NaN           2485.0
3                   NaN           2486.0
4                   NaN           2487.0
---------------------------------------------------------------------------------

In [49]:
salary.isna().sum()

salary.country.cc3LetterISO                      88513
salary.country.ccISO                             88513
salary.country.continent.continentCode           88513
salary.country.continent.continentName           88513
salary.country.continent.id                      88513
salary.country.continent.new                     88513
salary.country.countryFIPS                       88513
salary.country.currency.currencyCode             88513
salary.country.currency.defaultFractionDigits    88513
salary.country.currency.displayName              88513
salary.country.currency.id                       88513
salary.country.currency.name                     88513
salary.country.currency.negativeTemplate         88513
salary.country.currency.new                      88513
salary.country.currency.positiveTemplate         88513
salary.country.currency.symbol                   88513
salary.country.currencyCode                      88513
salary.country.defaultLocale                     88513
salary.country.defaultName                       88513
salary.country.defaultShortName                  88513
salary.country.employerSolutionsCountry          88513
salary.country.id                                88513
salary.country.longName                          88513
salary.country.major                             88513
salary.country.name                              88513
salary.country.new                               88513
salary.country.population                        88513
salary.country.shortName                         88513
salary.country.tld                               88513
salary.country.type                              88513
salary.country.uniqueName                        88513
salary.country.usaCentricDisplayName             88513
salary.currency.currencyCode                     88513
salary.currency.defaultFractionDigits            88513
salary.currency.displayName                      88513
salary.currency.id                               88513
salary.currency.name                             88513
salary.currency.negativeTemplate                 88513
salary.currency.new                              88513
salary.currency.positiveTemplate                 88513
salary.currency.symbol                           88513
salary.lastSalaryDate                            88513
salary.salaries                                  18141
dtype: int64

In [50]:
salary_sel_col = ["salary.country.cc3LetterISO", "salary.country.ccISO", \
"salary.country.continent.continentCode", "salary.country.continent.continentName", \
"salary.country.currency.currencyCode", "salary.country.currency.defaultFractionDigits",\
"salary.country.currency.displayName", "salary.currency.displayName", "salary.currency.name", \
    "salary.lastSalaryDate","salary.salaries"]
salary_sel = salary[salary_sel_col]
salary_sel.head()

,salary.country.cc3LetterISO,salary.country.ccISO,salary.country.continent.continentCode,salary.country.continent.continentName,salary.country.currency.currencyCode,salary.country.currency.defaultFractionDigits,salary.country.currency.displayName,salary.currency.displayName,salary.currency.name,salary.lastSalaryDate,salary.salaries
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2483.0
1,GBR,GB,EU,Europe,GBP,2.0,United Kingdom Pound (GBP),United Kingdom Pound (GBP),United Kingdom Pound,2019-10-14T06:05:58,2484.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2485.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2486.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2487.0

In [51]:
salary_sel.isna().sum()

salary.country.cc3LetterISO                      88513
salary.country.ccISO                             88513
salary.country.continent.continentCode           88513
salary.country.continent.continentName           88513
salary.country.currency.currencyCode             88513
salary.country.currency.defaultFractionDigits    88513
salary.country.currency.displayName              88513
salary.currency.displayName                      88513
salary.currency.name                             88513
salary.lastSalaryDate                            88513
salary.salaries                                  18141
dtype: int64

In [52]:
salary_sel_col_v2 = ["salary.currency.name", "salary.lastSalaryDate", "salary.salaries"]
salary_sel_v2 = salary[salary_sel_col_v2]

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)
#### wwfu

No se que es esta columna

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

In [53]:
i = 11
wwfu = cat_dict_dfs[df_names[i]]
print('---------------------------------------------------------------------------------')
print(f"Categoria: {df_names[i]}")
print(wwfu.tail())
print('---------------------------------------------------------------------------------')

---------------------------------------------------------------------------------
Categoria: df_wwfu
        wwfu
165285   NaN
165286   NaN
165287   NaN
165288   NaN
165289   NaN
---------------------------------------------------------------------------------

In [56]:
# cat_dict_dfs[df_names[i]].copy().dropna()

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)
### Columnas seleccionadas

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

In [57]:
s1 = gaTrackerData_sel_col.copy()
s2 = header_sel_col.copy()
s3 = job_sel_col.copy()
s4 = the_map_sel_col.copy()
s5 =rating_sel_col.copy()
s6 = salary_sel_v2.copy()
sel_col = [*s1, *s2, *s3, *s4, *s5, *s6]

sel_col

['gaTrackerData.empName',
 'gaTrackerData.empSize',
 'gaTrackerData.industry',
 'gaTrackerData.jobTitle',
 'gaTrackerData.location',
 'gaTrackerData.sector',
 'header.employerName',
 'header.jobTitle',
 'header.payHigh',
 'header.payLow',
 'header.payMed',
 'header.payPeriod',
 'header.salaryHigh',
 'header.salaryLow',
 'header.salarySource',
 'job.description',
 'job.jobSource',
 'map.country',
 'map.employerName',
 'map.location',
 'rating.recommendToFriend',
 'rating.starRating',
 'salary.currency.name',
 'salary.lastSalaryDate',
 'salary.salaries']

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)
### Dataframe de glassdoor con menos columnas

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

In [58]:
glassdoor_short_df = df3[sel_col]

glassdoor_short_df.head()

,gaTrackerData.empName,gaTrackerData.empSize,gaTrackerData.industry,gaTrackerData.jobTitle,gaTrackerData.location,gaTrackerData.sector,header.employerName,header.jobTitle,header.payHigh,header.payLow,header.payMed,header.payPeriod,header.salaryHigh,header.salaryLow,header.salarySource,job.description,job.jobSource,map.country,map.employerName,map.location,rating.recommendToFriend,rating.starRating,salary.currency.name,salary.lastSalaryDate,salary.salaries
0,Modus Group,501-1000,Investment Banking & Asset Management,Biogas Project Development Manager,Warsaw,Finance,Modus Group,Biogas Project Development Manager,NaN,NaN,NaN,NaN,NaN,NaN,NaN,We are the drivers of the future who offer a g...,WorkableHR.com,Poland,Modus Group,Warsaw,-0.10,-0.1,NaN,NaN,2483.0
1,Boehringer Ingelheim,10000--1,Biotech & Pharmaceuticals,Quality Manager - Boehringer Ingelheim Healthc...,NaN,Biotech & Pharmaceuticals,Boehringer Ingelheim,Quality Manager - Boehringer Ingelheim Healthc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<strong></strong>\n<br/><br/>\n<strong></stron...,taleo,NaN,Boehringer Ingelheim,Porto,0.76,3.8,United Kingdom Pound,2019-10-14T06:05:58,2484.0
2,Immobiliare.it,201-500,NaN,"Senior Software Engineer (PHP, Elixir, Python)",Milano,NaN,Immobiliare.it,"Senior Software Engineer (PHP, Elixir, Python)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dottori.it &egrave; il motore di ricerca che t...,Indeed XML Feed Employer,Italy,Immobiliare.it,Milan,0.47,2.4,NaN,NaN,2485.0
3,Codup,1-50,NaN,Senior SQA Engineer,Karachi,NaN,Codup,Senior SQA Engineer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Codup is looking for a Senior SQA Engineer for...,Indeed XML Feed Dradis,PK,Codup,KarƒÅchi,0.00,1.5,NaN,NaN,2486.0
4,Markelytics Solutions,201-500,Consulting,Research Manager,Bengaluru,Business Services,MARKELYTICS SOLUTIONS INDIA,Research Manager,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<strong>Department:</strong> Research &amp; Op...,Indeed XML Feed Employer,IN,Markelytics Solutions,Bengaluru,0.67,3.5,NaN,NaN,2487.0

In [59]:
glassdoor_short_df.isna().sum()

gaTrackerData.empName        18209
gaTrackerData.empSize        18209
gaTrackerData.industry       47405
gaTrackerData.jobTitle           0
gaTrackerData.location       70283
gaTrackerData.sector         47373
header.employerName           3245
header.jobTitle                  0
header.payHigh              161628
header.payLow               161628
header.payMed               161648
header.payPeriod            161653
header.salaryHigh           161628
header.salaryLow            161628
header.salarySource         161628
job.description                  4
job.jobSource                    0
map.country                  50028
map.employerName             18141
map.location                     5
rating.recommendToFriend     18391
rating.starRating            18391
salary.currency.name         88513
salary.lastSalaryDate        88513
salary.salaries              18141
dtype: int64

---
#### Quito las filas que no tengan info de salarios

---

In [71]:
mask = glassdoor_short_df['salary.salaries'].isna()
glassdoor_salary_df = glassdoor_short_df.loc[~mask]
print("glassdor_salary_df.shape --> ", glassdoor_salary_df.shape)

glassdor_salary_df.shape -->  (147149, 25)

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)
#### Analizamos los datos

![divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

In [155]:
dfg = glassdoor_salary_df.copy()

dfg['map.country'] = dfg['map.country'].apply(lambda x: x.lower() if isinstance(x, str) else x)
dfg['map.country'].head()

0    poland
1       NaN
2     italy
3        pk
4        in
Name: map.country, dtype: object

In [119]:
for n in df1["Name"].unique():
    print(n)

Afghanistan
√É‚Ä¶land Islands
Albania
Algeria
American Samoa
Andorra
Angola
Anguilla
Antarctica
Antigua and Barbuda
Argentina
Armenia
Aruba
Australia
Austria
Azerbaijan
Bahamas
Bahrain
Bangladesh
Barbados
Belarus
Belgium
Belize
Benin
Bermuda
Bhutan
Bolivia, Plurinational State of
Bonaire, Sint Eustatius and Saba
Bosnia and Herzegovina
Botswana
Bouvet Island
Brazil
British Indian Ocean Territory
Brunei Darussalam
Bulgaria
Burkina Faso
Burundi
Cambodia
Cameroon
Canada
Cape Verde
Cayman Islands
Central African Republic
Chad
Chile
China
Christmas Island
Cocos (Keeling) Islands
Colombia
Comoros
Congo
Congo, the Democratic Republic of the
Cook Islands
Costa Rica
C√É¬¥te d'Ivoire
Croatia
Cuba
Cura√É¬ßao
Cyprus
Czech Republic
Denmark
Djibouti
Dominica
Dominican Republic
Ecuador
Egypt
El Salvador
Equatorial Guinea
Eritrea
Estonia
Ethiopia
Falkland Islands (Malvinas)
Faroe Islands
Fiji
Finland
France
French Guiana
French Polynesia
French Southern Territories
Gabon
Gambia
Georgia
Germany
Ghana
Gibraltar
Greece
Greenland
Grenada
Guadeloupe
Guam
Guatemala
Guernsey
Guinea
Guinea-Bissau
Guyana
Haiti
Heard Island and McDonald Islands
Holy See (Vatican City State)
Honduras
Hong Kong
Hungary
Iceland
India
Indonesia
Iran, Islamic Republic of
Iraq
Ireland
Isle of Man
Israel
Italy
Jamaica
Japan
Jersey
Jordan
Kazakhstan
Kenya
Kiribati
North Korea
South Korea
Kuwait
Kyrgyzstan
Lao People's Democratic Republic
Latvia
Lebanon
Lesotho
Liberia
Libya
Liechtenstein
Lithuania
Luxembourg
Macao
Macedonia, the Former Yugoslav Republic of
Madagascar
Malawi
Malaysia
Maldives
Mali
Malta
Marshall Islands
Martinique
Mauritania
Mauritius
Mayotte
Mexico
Micronesia, Federated States of
Moldova, Republic of
Monaco
Mongolia
Montenegro
Montserrat
Morocco
Mozambique
Myanmar
Namibia
Nauru
Nepal
Netherlands
New Caledonia
New Zealand
Nicaragua
Niger
Nigeria
Niue
Norfolk Island
Northern Mariana Islands
Norway
Oman
Pakistan
Palau
Palestine, State of
Panama
Papua New Guinea
Paraguay
Peru
Philippines
Pitcairn
Poland
Portugal
Puerto Rico
Qatar
Reunion
Romania
Russia
Rwanda
Saint Barth√É¬©lemy
Saint Helena, Ascension and Tristan da Cunha
Saint Kitts and Nevis
Saint Lucia
Saint Martin (French part)
Saint Pierre and Miquelon
Saint Vincent and the Grenadines
Samoa
San Marino
Sao Tome and Principe
Saudi Arabia
Senegal
Serbia
Seychelles
Sierra Leone
Singapore
Sint Maarten (Dutch part)
Slovakia
Slovenia
Solomon Islands
Somalia
South Africa
South Georgia and the South Sandwich Islands
South Sudan
Spain
Sri Lanka
Sudan
Suriname
Svalbard and Jan Mayen
Swaziland
Sweden
Switzerland
Syrian Arab Republic
Taiwan
Tajikistan
Tanzania
Thailand
Timor-Leste
Togo
Tokelau
Tonga
Trinidad and Tobago
Tunisia
Turkey
Turkmenistan
Turks and Caicos Islands
Tuvalu
Uganda
Ukraine
United Arab Emirates
United Kingdom
United States
United States Minor Outlying Islands
Uruguay
Uzbekistan
Vanuatu
Venezuela, Bolivarian Republic of
Vietnam
Virgin Islands, British
Virgin Islands, U.S.
Wallis and Futuna
Western Sahara
Yemen
Zambia
Zimbabwe

In [120]:
for c in df1["Code"]:
    print(c)

AF
AX
AL
DZ
AS
AD
AO
AI
AQ
AG
AR
AM
AW
AU
AT
AZ
BS
BH
BD
BB
BY
BE
BZ
BJ
BM
BT
BO
BQ
BA
BW
BV
BR
IO
BN
BG
BF
BI
KH
CM
CA
CV
KY
CF
TD
CL
CN
CX
CC
CO
KM
CG
CD
CK
CR
CI
HR
CU
CW
CY
CZ
DK
DJ
DM
DO
EC
EG
SV
GQ
ER
EE
ET
FK
FO
FJ
FI
FR
GF
PF
TF
GA
GM
GE
DE
GH
GI
GR
GL
GD
GP
GU
GT
GG
GN
GW
GY
HT
HM
VA
HN
HK
HU
IS
IN
ID
IR
IQ
IE
IM
IL
IT
JM
JP
JE
JO
KZ
KE
KI
KP
KR
KW
KG
LA
LV
LB
LS
LR
LY
LI
LT
LU
MO
MK
MG
MW
MY
MV
ML
MT
MH
MQ
MR
MU
YT
MX
FM
MD
MC
MN
ME
MS
MA
MZ
MM
nan
NR
NP
NL
NC
NZ
NI
NE
NG
NU
NF
MP
NO
OM
PK
PW
PS
PA
PG
PY
PE
PH
PN
PL
PT
PR
QA
RE
RO
RU
RW
BL
SH
KN
LC
MF
PM
VC
WS
SM
ST
SA
SN
RS
SC
SL
SG
SX
SK
SI
SB
SO
ZA
GS
SS
ES
LK
SD
SR
SJ
SZ
SE
CH
SY
TW
TJ
TZ
TH
TL
TG
TK
TO
TT
TN
TR
TM
TC
TV
UG
UA
AE
UK
USA
UM
UY
UZ
VU
VE
VN
VG
VI
WF
EH
YE
ZM
ZW

In [186]:
df1["Name"] = df1["Name"].replace("Viet Nam", "Vietnam")
df1["Name"] = df1["Name"].replace("Taiwan, Province of China", "Taiwan")
df1["Name"] = df1["Name"].replace("R√É¬©union", "Reunion")
df1["Name"] = df1["Name"].replace("Korea, Democratic People's Republic of", "North Korea")
df1["Name"] = df1["Name"].replace("Korea, Republic of", "South Korea")
df1["Name"] = df1["Name"].replace("Tanzania, United Republic of", "Tanzania")
df1["Name"] = df1["Name"].replace("Dubai (United Arab Emirates)", "United Arab Emirates")
df1["Name"] = df1["Name"].replace("Russian Federation", "Russia")
df1["Name"] = df1["Name"].replace("Macedonia, the Former Yugoslav Republic of", "Macedonia")
df1["Name"] = df1["Name"].replace("C√É¬¥te d'Ivoire", "c√¥te d'ivoire")
df1["Name"] = df1["Name"].replace("Venezuela, Bolivarian Republic of", "Venezuela")
df1["Name"] = df1["Name"].replace("Moldova, Republic of", "Moldova")


df1["Code"] = df1["Code"].replace('GB', 'UK')
df1["Code"] = df1["Code"].replace('US', 'USA')

In [187]:

country_name = df1['Name'].apply(lambda x: x.lower() if isinstance(x,str) else x).tolist()
country_code = df1["Code"].apply(lambda x: x.lower() if isinstance(x,str) else x).tolist()


code_to_name_dict = {k:v for k,v in zip(country_code,country_name)}
name_to_code_dict = {k:v for k,v in zip(country_name, country_code)}

In [188]:
code_to_name_dict

{'af': 'afghanistan',
 'ax': '√£‚Ä¶land islands',
 'al': 'albania',
 'dz': 'algeria',
 'as': 'american samoa',
 'ad': 'andorra',
 'ao': 'angola',
 'ai': 'anguilla',
 'aq': 'antarctica',
 'ag': 'antigua and barbuda',
 'ar': 'argentina',
 'am': 'armenia',
 'aw': 'aruba',
 'au': 'australia',
 'at': 'austria',
 'az': 'azerbaijan',
 'bs': 'bahamas',
 'bh': 'bahrain',
 'bd': 'bangladesh',
 'bb': 'barbados',
 'by': 'belarus',
 'be': 'belgium',
 'bz': 'belize',
 'bj': 'benin',
 'bm': 'bermuda',
 'bt': 'bhutan',
 'bo': 'bolivia, plurinational state of',
 'bq': 'bonaire, sint eustatius and saba',
 'ba': 'bosnia and herzegovina',
 'bw': 'botswana',
 'bv': 'bouvet island',
 'br': 'brazil',
 'io': 'british indian ocean territory',
 'bn': 'brunei darussalam',
 'bg': 'bulgaria',
 'bf': 'burkina faso',
 'bi': 'burundi',
 'kh': 'cambodia',
 'cm': 'cameroon',
 'ca': 'canada',
 'cv': 'cape verde',
 'ky': 'cayman islands',
 'cf': 'central african republic',
 'td': 'chad',
 'cl': 'chile',
 'cn': 'china',
 'cx': 'christmas island',
 'cc': 'cocos (keeling) islands',
 'co': 'colombia',
 'km': 'comoros',
 'cg': 'congo',
 'cd': 'congo, the democratic republic of the',
 'ck': 'cook islands',
 'cr': 'costa rica',
 'ci': "c√¥te d'ivoire",
 'hr': 'croatia',
 'cu': 'cuba',
 'cw': 'cura√£¬ßao',
 'cy': 'cyprus',
 'cz': 'czech republic',
 'dk': 'denmark',
 'dj': 'djibouti',
 'dm': 'dominica',
 'do': 'dominican republic',
 'ec': 'ecuador',
 'eg': 'egypt',
 'sv': 'el salvador',
 'gq': 'equatorial guinea',
 'er': 'eritrea',
 'ee': 'estonia',
 'et': 'ethiopia',
 'fk': 'falkland islands (malvinas)',
 'fo': 'faroe islands',
 'fj': 'fiji',
 'fi': 'finland',
 'fr': 'france',
 'gf': 'french guiana',
 'pf': 'french polynesia',
 'tf': 'french southern territories',
 'ga': 'gabon',
 'gm': 'gambia',
 'ge': 'georgia',
 'de': 'germany',
 'gh': 'ghana',
 'gi': 'gibraltar',
 'gr': 'greece',
 'gl': 'greenland',
 'gd': 'grenada',
 'gp': 'guadeloupe',
 'gu': 'guam',
 'gt': 'guatemala',
 'gg': 'guernsey',
 'gn': 'guinea',
 'gw': 'guinea-bissau',
 'gy': 'guyana',
 'ht': 'haiti',
 'hm': 'heard island and mcdonald islands',
 'va': 'holy see (vatican city state)',
 'hn': 'honduras',
 'hk': 'hong kong',
 'hu': 'hungary',
 'is': 'iceland',
 'in': 'india',
 'id': 'indonesia',
 'ir': 'iran, islamic republic of',
 'iq': 'iraq',
 'ie': 'ireland',
 'im': 'isle of man',
 'il': 'israel',
 'it': 'italy',
 'jm': 'jamaica',
 'jp': 'japan',
 'je': 'jersey',
 'jo': 'jordan',
 'kz': 'kazakhstan',
 'ke': 'kenya',
 'ki': 'kiribati',
 'kp': 'north korea',
 'kr': 'south korea',
 'kw': 'kuwait',
 'kg': 'kyrgyzstan',
 'la': "lao people's democratic republic",
 'lv': 'latvia',
 'lb': 'lebanon',
 'ls': 'lesotho',
 'lr': 'liberia',
 'ly': 'libya',
 'li': 'liechtenstein',
 'lt': 'lithuania',
 'lu': 'luxembourg',
 'mo': 'macao',
 'mk': 'macedonia',
 'mg': 'madagascar',
 'mw': 'malawi',
 'my': 'malaysia',
 'mv': 'maldives',
 'ml': 'mali',
 'mt': 'malta',
 'mh': 'marshall islands',
 'mq': 'martinique',
 'mr': 'mauritania',
 'mu': 'mauritius',
 'yt': 'mayotte',
 'mx': 'mexico',
 'fm': 'micronesia, federated states of',
 'md': 'moldova',
 'mc': 'monaco',
 'mn': 'mongolia',
 'me': 'montenegro',
 'ms': 'montserrat',
 'ma': 'morocco',
 'mz': 'mozambique',
 'mm': 'myanmar',
 nan: 'namibia',
 'nr': 'nauru',
 'np': 'nepal',
 'nl': 'netherlands',
 'nc': 'new caledonia',
 'nz': 'new zealand',
 'ni': 'nicaragua',
 'ne': 'niger',
 'ng': 'nigeria',
 'nu': 'niue',
 'nf': 'norfolk island',
 'mp': 'northern mariana islands',
 'no': 'norway',
 'om': 'oman',
 'pk': 'pakistan',
 'pw': 'palau',
 'ps': 'palestine, state of',
 'pa': 'panama',
 'pg': 'papua new guinea',
 'py': 'paraguay',
 'pe': 'peru',
 'ph': 'philippines',
 'pn': 'pitcairn',
 'pl': 'poland',
 'pt': 'portugal',
 'pr': 'puerto rico',
 'qa': 'qatar',
 're': 'reunion',
 'ro': 'romania',
 'ru': 'russia',
 'rw': 'rwanda',
 'bl': 'saint barth√£¬©lemy',
 'sh': 'saint helena, ascension and tristan da cunha',
 'kn': 'saint kitts and nevis',
 'lc': 'saint lucia',
 'mf': 'saint martin (french part)',
 'pm': 'saint pierre and miquelon',
 'vc': 'saint vincent and the grenadines',
 'ws': 'samoa',
 'sm': 'san marino',
 'st': 'sao tome and principe',
 'sa': 'saudi arabia',
 'sn': 'senegal',
 'rs': 'serbia',
 'sc': 'seychelles',
 'sl': 'sierra leone',
 'sg': 'singapore',
 'sx': 'sint maarten (dutch part)',
 'sk': 'slovakia',
 'si': 'slovenia',
 'sb': 'solomon islands',
 'so': 'somalia',
 'za': 'south africa',
 'gs': 'south georgia and the south sandwich islands',
 'ss': 'south sudan',
 'es': 'spain',
 'lk': 'sri lanka',
 'sd': 'sudan',
 'sr': 'suriname',
 'sj': 'svalbard and jan mayen',
 'sz': 'swaziland',
 'se': 'sweden',
 'ch': 'switzerland',
 'sy': 'syrian arab republic',
 'tw': 'taiwan',
 'tj': 'tajikistan',
 'tz': 'tanzania',
 'th': 'thailand',
 'tl': 'timor-leste',
 'tg': 'togo',
 'tk': 'tokelau',
 'to': 'tonga',
 'tt': 'trinidad and tobago',
 'tn': 'tunisia',
 'tr': 'turkey',
 'tm': 'turkmenistan',
 'tc': 'turks and caicos islands',
 'tv': 'tuvalu',
 'ug': 'uganda',
 'ua': 'ukraine',
 'ae': 'united arab emirates',
 'uk': 'united kingdom',
 'usa': 'united states',
 'um': 'united states minor outlying islands',
 'uy': 'uruguay',
 'uz': 'uzbekistan',
 'vu': 'vanuatu',
 've': 'venezuela',
 'vn': 'vietnam',
 'vg': 'virgin islands, british',
 'vi': 'virgin islands, u.s.',
 'wf': 'wallis and futuna',
 'eh': 'western sahara',
 'ye': 'yemen',
 'zm': 'zambia',
 'zw': 'zimbabwe'}

In [213]:

dfg['map.country'] = dfg['map.country'].replace('nederland', 'netherlands')
dfg['map.country'] = dfg['map.country'].replace('england', 'united kingdom')
dfg['map.country'] = dfg['map.country'].replace('india-india', 'india')
dfg['map.country'] = dfg['map.country'].replace('cheshire', 'united kingdom')
dfg['map.country'] = dfg['map.country'].replace('kingdom', 'united kingdom')
dfg['map.country'] = dfg['map.country'].replace('us', 'usa')
dfg['map.country'] = dfg['map.country'].replace('dubai (united arab emirates)', 'united arab emirates')
dfg['map.country'] = dfg['map.country'].replace('taiwan [tw]', 'taiwan')
dfg['map.country'] = dfg['map.country'].replace('santa oliva', 'spain')
dfg['map.country'] = dfg['map.country'].replace('viet nam', 'vietnam')
dfg['map.country'] = dfg['map.country'].replace('macedonia, republic of', 'macedonia')
dfg['map.country'] = dfg['map.country'].replace('munich', 'germany')
dfg['map.country'] = dfg['map.country'].replace('dublin, dublin (ireland)', 'ireland')
dfg['map.country'] = dfg['map.country'].replace('cn - china', 'china')
dfg['map.country'] = dfg['map.country'].replace('hong kong (hong kong)', 'china')
dfg['map.country'] = dfg['map.country'].replace('deutschland', 'germany')
dfg['map.country'] = dfg['map.country'].replace('stockholm', 'sweden')
dfg['map.country'] = dfg['map.country'].replace('japan [jp]', 'japan')
dfg['map.country'] = dfg['map.country'].replace('france-saint-germain', 'france')
dfg['map.country'] = dfg['map.country'].replace('wroclaw,', 'poland')
dfg['map.country'] = dfg['map.country'].replace('m√©xico', 'mexico')
dfg['map.country'] = dfg['map.country'].replace('makati city, philippines', 'philippines')
dfg['map.country'] = dfg['map.country'].replace('bangalore', 'india')
dfg['map.country'] = dfg['map.country'].replace('schweiz', 'switzerland')
dfg['map.country'] = dfg['map.country'].replace('korea (south)', 'south korea')
dfg['map.country'] = dfg['map.country'].replace('hu - hungary', 'hungary')
dfg['map.country'] = dfg['map.country'].replace('korea', 'south korea')
dfg['map.country'] = dfg['map.country'].replace('brasil', 'brazil')
dfg['map.country'] = dfg['map.country'].replace('telangana', 'india')
dfg['map.country'] = dfg['map.country'].replace('in-in', 'india')
dfg['map.country'] = dfg['map.country'].replace('romania.', 'romania')

dfg['map.country'] = dfg['map.country'].replace('jp - japan.', 'japan')
dfg['map.country'] = dfg['map.country'].replace('cork (ireland)', 'ireland')
dfg['map.country'] = dfg['map.country'].replace('scotland, uk', 'united kingdom')
dfg['map.country'] = dfg['map.country'].replace('congo,', 'congo')
dfg['map.country'] = dfg['map.country'].replace('czech republic-cz', 'czech republic')
dfg['map.country'] = dfg['map.country'].replace('brussels', 'belgium')

dfg['map.country'] = dfg['map.country'].replace('co - colombia', 'colombia')
dfg['map.country'] = dfg['map.country'].replace('malm√∂', 'sweden')
dfg['map.country'] = dfg['map.country'].replace('san jose, costa rica', 'costa rica')
dfg['map.country'] = dfg['map.country'].replace('munich (germany)', 'germany')
dfg['map.country'] = dfg['map.country'].replace('brazil, colombia', 'colombia')
dfg['map.country'] = dfg['map.country'].replace('fr - france', 'france')
dfg['map.country'] = dfg['map.country'].replace('dalian', 'china')







dfg['map.country.name'] = dfg['map.country'].apply(lambda x: code_to_name_dict[x] if x in country_code else x)
dfg['map.country.code'] = dfg['map.country'].apply(lambda x: name_to_code_dict[x] if x in country_name else x)

In [214]:
dfg[['map.country','map.country.name', 'map.country.code']].head()

  map.country map.country.name map.country.code
0      poland           poland               pl
1         NaN          namibia              NaN
2       italy            italy               it
3          pk         pakistan               pk
4          in            india               in

In [215]:
dfg['map.country.name'].unique()

array(['poland', 'namibia', 'italy', 'pakistan', 'india', 'israel',
       'france', 'indonesia', 'hong kong', 'united states',
       'united arab emirates', 'belgium', 'south korea', 'united kingdom',
       'malaysia', 'nigeria', 'singapore', 'spain', 'canada', 'ukraine',
       'austria', 'romania', 'germany', 'saudi arabia', 'argentina',
       'thailand', 'south africa', 'new zealand', 'netherlands',
       'luxembourg', 'ireland', 'ghana', 'uganda', 'egypt', 'australia',
       'mexico', 'taiwan', 'sweden', 'philippines', 'slovakia', 'china',
       'lithuania', 'myanmar', 'gb', 'saint kitts and nevis',
       'czech republic', 'turkey', 'uzbekistan', 'finland', 'japan',
       'russia', 'portugal', 'switzerland', 'denmark', 'serbia',
       'zimbabwe', 'kenya', 'che', 'brazil', 'qatar', 'hungary',
       'belarus', 'greece', 'estonia', 'vietnam', 'cyprus', 'chile',
       'tanzania', 'panama', 'uruguay', 'costa rica', 'bulgaria',
       'jordan', 'bangladesh', 'iceland', 'jamaica', 'albania', 'peru',
       'norway', 'malta', 'sgp', 'mozambique', 'cambodia', 'lebanon',
       '96', 'kuwait', 'ethiopia', 'bahrain', 'isr', 'slovenia',
       'colombia', 'tunisia', 'croatia', 'irl', 'oman', 'fra', 'malawi',
       'latvia', 'sri lanka', 'idn', 'ind', 'hun', 'algeria', 'ata',
       'qat', 'afg', 'macedonia', 'cameroon', 'haiti', 'djibouti',
       'mauritius', 'are', 'botswana', 'madagascar', 'mys',
       'brunei darussalam', 'iran, islamic republic of', 'irq',
       'barbados', 'kazakhstan', 'esp', 'dominican republic', 'georgia',
       'papua new guinea', 'nepal', 'can', 'chn', "c√¥te d'ivoire", 'aus',
       'libya', 'morocco', 'dnk', 'sp', 'rwanda', 'armenia', 'iraq',
       'ita', 'ho', 'deu', 'ri', 'cri', 'senegal', 'paraguay',
       'venezuela', 'el salvador', 'uga', 'bel', 'trinidad and tobago',
       'syrian arab republic', 'moldova', 'eg - egypt', 'nicaragua',
       'kor', 'turkmenistan', 'guernsey', 'guatemala', 'angola',
       'ecuador', 'liechtenstein', 'col', 'honduras', 'swaziland', 'nld',
       'jp - japan', 'mex', 'bosnia and herzegovina', 'niger', 'suriname',
       'zambia', 'guam', 'mali', 'sw', 'virgin islands, u.s.', 'bra',
       'bolivia, plurinational state of', 'tha', 'congo',
       'Czech Republic', 'azerbaijan', 'fin', 'afghanistan', '02000',
       'gibraltar', 'aut', 'vir', 'palestine, state of',
       'equatorial guinea', 'paris', 'turks and caicos islands',
       'republic of macedonia', 'yemen', 'syr', 'korea, south', 'mlt',
       'sg - singapore', 'lesotho', 'burundi', 'china-china', 'bahamas',
       'liberia', 'modena', 'swe', 'new caledonia', 'togo', 'cod',
       'nl - netherlands', 'karnataka', 'bmu',
       'democratic republic of congo', 'macao', 'tu', 'tuvalu', 'arg',
       'jersey', 'suisse', 'dubai - united arab emirates', 'bengaluru',
       'scotland', 'san jos√©, costa rica', 'sierra leone', 'twn',
       'guinea', 'sudan', 'tur', 'bermuda', 'benin', 'gha', 'laos', 'hkg',
       'pl - poland', 'puerto rico', 'phl', 'monaco', 'gbr', 'usa.',
       'bolivia', 'bouvet island', 'samoa', 'jeddah saudi arabia',
       'zaventem', 'nzl', 'neuch√¢tel (switzerland)', 'chennai',
       'my - malaysia', 'burkina faso', 'kyrgyzstan', 'czech', 'danmark',
       'jam', 'colombia, costa rica', 'isle of man', 'sau',
       'za - south africa', 'gabon', 'gurgaon'], dtype=object)

In [216]:
dfg['map.country.code'].unique()

array(['pl', nan, 'it', 'pk', 'in', 'il', 'fr', 'id', 'hk', 'usa', 'ae',
       'be', 'kr', 'uk', 'my', 'ng', 'sg', 'es', 'ca', 'ua', 'at', 'ro',
       'de', 'sa', 'ar', 'th', 'za', 'nz', 'nl', 'lu', 'ie', 'gh', 'ug',
       'eg', 'au', 'mx', 'tw', 'se', 'ph', 'sk', 'cn', 'lt', 'mm', 'gb',
       'kn', 'cz', 'tr', 'uz', 'fi', 'jp', 'ru', 'pt', 'ch', 'dk', 'rs',
       'zw', 'ke', 'che', 'br', 'qa', 'hu', 'by', 'gr', 'ee', 'vn', 'cy',
       'cl', 'tz', 'pa', 'uy', 'cr', 'bg', 'jo', 'bd', 'is', 'jm', 'al',
       'pe', 'no', 'mt', 'sgp', 'mz', 'kh', 'lb', '96', 'kw', 'et', 'bh',
       'isr', 'si', 'co', 'tn', 'hr', 'irl', 'om', 'fra', 'mw', 'lv',
       'lk', 'idn', 'ind', 'hun', 'dz', 'ata', 'qat', 'afg', 'mk', 'cm',
       'ht', 'dj', 'mu', 'are', 'bw', 'mg', 'mys', 'bn', 'ir', 'irq',
       'bb', 'kz', 'esp', 'do', 'ge', 'pg', 'np', 'can', 'chn', 'ci',
       'aus', 'ly', 'ma', 'dnk', 'sp', 'rw', 'am', 'iq', 'ita', 'ho',
       'deu', 'ri', 'cri', 'sn', 'py', 've', 'sv', 'uga', 'bel', 'tt',
       'sy', 'md', 'eg - egypt', 'ni', 'kor', 'tm', 'gg', 'gt', 'ao',
       'ec', 'li', 'col', 'hn', 'sz', 'nld', 'jp - japan', 'mex', 'ba',
       'ne', 'sr', 'zm', 'gu', 'ml', 'sw', 'vi', 'bra', 'bo', 'tha', 'cg',
       'Czech Republic', 'az', 'fin', 'af', '02000', 'gi', 'aut', 'vir',
       'ps', 'gq', 'paris', 'tc', 'republic of macedonia', 'ye', 'syr',
       'korea, south', 'mlt', 'sg - singapore', 'ls', 'bi', 'china-china',
       'bs', 'lr', 'modena', 'swe', 'nc', 'tg', 'cod', 'nl - netherlands',
       'karnataka', 'bmu', 'democratic republic of congo', 'mo', 'tu',
       'tv', 'arg', 'je', 'suisse', 'dubai - united arab emirates',
       'bengaluru', 'scotland', 'san jos√©, costa rica', 'sl', 'twn', 'gn',
       'sd', 'tur', 'bm', 'bj', 'gha', 'laos', 'hkg', 'pl - poland', 'pr',
       'phl', 'mc', 'gbr', 'usa.', 'bolivia', 'bv', 'ws',
       'jeddah saudi arabia', 'zaventem', 'nzl',
       'neuch√¢tel (switzerland)', 'chennai', 'my - malaysia', 'bf', 'kg',
       'czech', 'danmark', 'jam', 'colombia, costa rica', 'im', 'sau',
       'za - south africa', 'ga', 'gurgaon'], dtype=object)

In [217]:
dfg.to_csv('../data/clean_glassdoor.csv', index=False)

In [218]:
# probamos si cargo bien
dfg2 = pd.read_csv('../data/clean_glassdoor.csv')
dfg2.head()

,gaTrackerData.empName,gaTrackerData.empSize,gaTrackerData.industry,gaTrackerData.jobTitle,gaTrackerData.location,gaTrackerData.sector,header.employerName,header.jobTitle,header.payHigh,header.payLow,header.payMed,header.payPeriod,header.salaryHigh,header.salaryLow,header.salarySource,job.description,job.jobSource,map.country,map.employerName,map.location,rating.recommendToFriend,rating.starRating,salary.currency.name,salary.lastSalaryDate,salary.salaries,map.country.name,map.country.code
0,Modus Group,501-1000,Investment Banking & Asset Management,Biogas Project Development Manager,Warsaw,Finance,Modus Group,Biogas Project Development Manager,NaN,NaN,NaN,NaN,NaN,NaN,NaN,We are the drivers of the future who offer a g...,WorkableHR.com,poland,Modus Group,Warsaw,-0.10,-0.1,NaN,NaN,2483.0,poland,pl
1,Boehringer Ingelheim,10000--1,Biotech & Pharmaceuticals,Quality Manager - Boehringer Ingelheim Healthc...,NaN,Biotech & Pharmaceuticals,Boehringer Ingelheim,Quality Manager - Boehringer Ingelheim Healthc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<strong></strong>\n<br/><br/>\n<strong></stron...,taleo,NaN,Boehringer Ingelheim,Porto,0.76,3.8,United Kingdom Pound,2019-10-14T06:05:58,2484.0,namibia,NaN
2,Immobiliare.it,201-500,NaN,"Senior Software Engineer (PHP, Elixir, Python)",Milano,NaN,Immobiliare.it,"Senior Software Engineer (PHP, Elixir, Python)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dottori.it &egrave; il motore di ricerca che t...,Indeed XML Feed Employer,italy,Immobiliare.it,Milan,0.47,2.4,NaN,NaN,2485.0,italy,it
3,Codup,1-50,NaN,Senior SQA Engineer,Karachi,NaN,Codup,Senior SQA Engineer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Codup is looking for a Senior SQA Engineer for...,Indeed XML Feed Dradis,pk,Codup,KarƒÅchi,0.00,1.5,NaN,NaN,2486.0,pakistan,pk
4,Markelytics Solutions,201-500,Consulting,Research Manager,Bengaluru,Business Services,MARKELYTICS SOLUTIONS INDIA,Research Manager,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<strong>Department:</strong> Research &amp; Op...,Indeed XML Feed Employer,in,Markelytics Solutions,Bengaluru,0.67,3.5,NaN,NaN,2487.0,india,in

In [224]:
dfg3 = dfg2[['gaTrackerData.jobTitle', 'gaTrackerData.empName', 'gaTrackerData.empSize','map.country.name', 'map.country.code', 'salary.currency.name', 'salary.salaries']]

rename_dict = {'gaTrackerData.jobTitle':'jobTitle', 'gaTrackerData.empName':'companyName',
              'gaTrackerData.empSize':'companySize', 'map.country.name':'countryName', 'map.country.code':'countryCode',
              'salary.currency.name':'currency','salary.salaries':'salary'}
dfg3 = dfg3.rename(rename_dict, axis=1)
dfg3.head()

,jobTitle,companyName,companySize,countryName,countryCode,currency,salary
0,Biogas Project Development Manager,Modus Group,501-1000,poland,pl,NaN,2483.0
1,Quality Manager - Boehringer Ingelheim Healthc...,Boehringer Ingelheim,10000--1,namibia,NaN,United Kingdom Pound,2484.0
2,"Senior Software Engineer (PHP, Elixir, Python)",Immobiliare.it,201-500,italy,it,NaN,2485.0
3,Senior SQA Engineer,Codup,1-50,pakistan,pk,NaN,2486.0
4,Research Manager,Markelytics Solutions,201-500,india,in,NaN,2487.0

In [225]:
dfg3.to_csv('../DATA/clean_glassdoor_rename.csv')